*body {
    margin: 0;
}

.banner {
    margin-top: 50px;
    background-image: url('/images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* border-radius: 16px;  */
    height: 593px;
    width: 1230px;
    text-align: center;
    

}

.bannner-title {
    font-weight: 400;
    font-size: 32px;
    color: white;
    padding-top: 160px;
    margin: 0;
}

.banner-wish {
    font-size: 72px;
    font-weight: 900;
    color: white;
    width: 500px;
    margin: 0;
    padding-left: 380px;
}

/* offer section */
.offer-section{
    margin: 0 300px;
}
.offer {
    font-size: 64px;
    font-weight: 800;
    color: #FF0000;
    margin: 0;
    margin-top: 127px;
    margin-left: 171px;
}

.offer-title {
    color: #FF0000;
    margin-top: 15px;
    Font-weight: 500;
    Font-size: 24px;
    width: 500px;
    margin-left: 112px;
}

.offer-categories {
    font-size: 48px;
    font-weight: 700;
    width: 500px;
    margin-left: 88px;
    margin-top: 0;
  }

/* .new-year-img {
    Width:802.9px;
    Height:500px;
} */
.new-year-img img{
    width: 660px;
}
/* welcome party */
.welcome-party{
    /* margin-top: 50px; */
    background-image: url('/images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /* border-radius: 16px;  */
    height: 593px;
    width: 1162px;
  margin-left: 53px;
}
.welcome-party-title {
    text-align: left;
    padding-left: 126px;
    padding-top: 126px;
    font-weight: 600;
    font-size: 64px;
    color: white;
    margin: 0;
  }
  .welcome-par {
    color: white;
    text-align: left;
    padding-left: 126px;
  }
  .btn button {
    color: white;
    background-color: transparent;
    padding: 10px;
    border: 0;
  }
  .btn {
    margin-left: 122px;
  }
  .btn button:hover{
    background-color:  #FF0000;
    border-radius: 5px;
  }
  /* gift */
  .gift-title{
    color: #FF0000;
    margin-top: 15px;
    Font-weight: 500;
    Font-size: 24px;
    width: 500px;
    
  }
  .gift{
    margin-left: 60px;
    margin-right: 140px;
  }
  .portfolio,.sub{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

  .portfolio-paragraph{
    margin: 0;
    color: rgba(7, 2, 17, 0.6);
  }
  /* card */
  .card{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 48px;
    margin-left: 56px;
    margin-right: 20px;
  }
  .card img{
    width: 380px;
  }
  .card img:hover{
    background-color: black;
    opacity: 0.3;
  }
  /* subscribe */
  .subscribe {
    background-color: rgba(255, 0, 0, 0.05);
  width: 1175px;
  margin-left: 60px;
  margin-right: 20px;
  border-radius: 10px;
  margin-top: 120px;
  }
  .subscribe img {
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    padding-top: 80px;
  
  }
  .sub{
    text-align: center;
  }
  .sub-p {
    color: rgba(7, 2, 17, 0.6);
    width: 50%;
    text-align: center;
    
    padding-left: 344px;
    margin: 0;
  }
  .txt {
    margin-left: 436px;
    width: 250px;
    border-radius: 20px;
    margin-top: 40px;
    height: 29px;
    padding: 10px 25px;
    margin-bottom: 80px;

  }
  footer {
    background-color: black;
  color: white;
  padding-top: 120px;
  margin-top: 80px;
  }
  .footer-section{
    display: flex;
    justify-content: space-around;
  }
  .footer-cont img{
    
        margin-right: 6px;
        margin-top: 8px;
    
  }
  .footer-cont h3{
    text-align: center;
    margin: 0;
  }
  .footer-icon img{
    width: 30px;
   padding-left: 20px;
  }
  .footer-icon {
    padding-left: 500px;
  }
  .footer-section2 h3{
    padding-right: 60px;
  }
  .footer-section2{
    display: flex;
    justify-content: space-around;
    padding-bottom: 120px;
  }